<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context-3.2.xsd 
http://www.springframework.org/schema/mvc 
http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">
	<context:component-scan base-package="com.ule.uhj.**.controller" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>

	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">            
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes">
		            <list>
<!-- 		                <bean class="org.springframework.http.MediaType"> -->
<!-- 		                    <constructor-arg value="text" /> -->
<!-- 		                    <constructor-arg value="plain" /> -->
<!-- 		                    <constructor-arg value="UTF-8" /> -->
<!-- 		                </bean> -->
						<value>text/plain;charset=UTF-8</value>
						<value>text/html;charset=UTF-8</value>
		            </list>
		        </property>    
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	<mvc:interceptors>
		<mvc:interceptor>
		<!-- 	<mvc:mapping path="/ule/operateTotalDate.action" />-->
			<mvc:mapping path="/ule/operateDeatil.action" />
			<bean class="com.ule.uhj.zgd.interceptor.UleOperateContInter"/>
		</mvc:interceptor>
	</mvc:interceptors>
	<!-- SpringMVC上传文件时,需配置MultipartResolver处理器  -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8"></property>   
        <property name="maxUploadSize" value="10485760000"></property>  
        <property name="maxInMemorySize" value="40960"></property>  
	</bean>
	<!-- SpringMVC在超出上传文件限制时，会抛出org.springframework.web.multipart.MaxUploadSizeExceededException -->    
   <!-- 该异常是SpringMVC在检查上传的文件信息时抛出来的，而且此时还没有进入到Controller方法中 -->    
   <bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">    
       <property name="exceptionMappings">    
           <props>    
               <!-- 遇到MaxUploadSizeExceededException异常时，跳转到uperror.jsp页面 -->    
               <prop key="org.springframework.web.multipart.MaxUploadSizeExceededException">uperror.jsp</prop>    
           </props>    
       </property> 
   </bean>
   
	<!-- 对模型视图名称的解析，即在模型视图名称添加前后缀 p:prefix中模板放置路径 -->
<!-- 	<bean id="velocityConfig" -->
<!-- 		class="org.springframework.web.servlet.view.velocity.VelocityConfigurer"> -->
<!-- 		<property name="resourceLoaderPath" value="/WEB-INF/view/" /> -->
<!-- 		<property name="velocityProperties">     -->
<!--         <props>     -->
<!--             <prop  key="input.encoding">UTF-8</prop>     -->
<!--             <prop  key="output.encoding">UTF-8</prop>       -->
<!--          </props>     -->
<!--      </property>  -->
<!-- 	</bean> -->

<!-- 	<bean id="viewResolver" -->
<!-- 		class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver"> -->
<!-- 		<property name="cache" value="true" /> -->
<!-- 		<property name="prefix" value="" /> -->
<!-- 		<property name="layoutUrl" value="layout.vm" /> -->
<!-- 		<property name="suffix" value=".vm" /> -->
<!-- 		<property name="contentType"><value>text/html;charset=UTF-8</value></property>   -->
<!-- 	</bean> -->

<!-- <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" /> -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" 
		p:prefix="/WEB-INF/jsp/" p:suffix=".jsp" />
	<bean class="com.ule.uhj.zgd.service.SpringContextHolder" lazy-init="false"></bean>
	<mvc:default-servlet-handler/>	

	<!-- <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"> 
		<property name="defaultEncoding"> <value>UTF-8</value> </property> <property 
		name="maxUploadSize"> <value>32505856</value>上传文件大小限制为31M，31*1024*1024 </property> 
		<property name="maxInMemorySize"> <value>4096</value> </property> </bean> -->
		
</beans>