/* html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
      body,dd,div,dl,dt,li,p,ul{margin:0;padding:0;text-align:left}
      input{padding:0;border-radius:0}
      button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;vertical-align:baseline;outline:0}
      button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
      button[disabled],input[disabled]{cursor:default}
      input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}
      input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
      input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
      input[type=checkbox]:checked:after{-webkit-appearance:none}
      input[type=checkbox]{border: 1px solid #dddddd}
      input[type=radio]:checked:after{-webkit-appearance:none}
      input[type=radio]{border-radius: 50%}
      button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
      input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
      li{list-style:none}
      a{text-decoration:none;color:#000}
      img{vertical-align:top;width:100%}
      body,html{text-align:left;width:100%;font-family:"Microsoft YaHei","Helvetica Neue",Arial,HelveticaNeue,Helvetica-Neue,Helvetica,"BBAlpha Sans",sans-serif;font-weight:400}
      *{-webkit-tap-highlight-color:rgba(14,159,111,0);-webkit-touch-callout:none}



          ���ݲ���
.content{
    width: 90%;
    margin: 0 auto;
    font-family: 'Microsoft YaHei';
}
.content header{
    padding-top: 10px;
    font-size: 16px;
    padding-bottom: 15px;
}
.content header .p1{
    line-height: 24px;
    color: #494949;
}
.content header .p2{
    color: #a1a1a3;
}
.content .title{
    color: #888787;
    line-height: 40px;
    font-size: 18px;
}
.from-xd{
    width: 100%;
    background: #f1f1f1;
    position: relative;
}
.from-xd .small-triangle{
    position: absolute;
    width: 0;
    height:0;
    border: 10px solid transparent;
    border-right-color: #f1f1f1;
    left: -20px;
    top:20px;
}
.from-warp{
    padding: 0px 10px 0 20px;
}
.from-radio{
    line-height: 28px;
    padding-bottom: 8px;
}
.from-radio label input,.from-radio label span{
    display: inline-block;
    vertical-align: middle;
}
.from-radio label{
    padding-right: 15px;
}
.from-radio label input{
    margin-right: 4px;
}
.check-warp{
    font-size: 14px;
    color: #9a9796;
    padding-bottom: 40px;
}
.check-warp p{
    overflow: hidden;
    padding-bottom: 5px;
}
.check-warp p label{
    float: left;
    line-height: 20px;
}
.check-warp p label input{
    vertical-align: middle;
    margin-top: -3px;
    margin-left: 2px;
}
.check-warp p label.l1{
    width: 8%;
}
.check-warp p label.l2{
    width: 92%;
}
.from-warp .time{
    line-height: 20px;
    color: #abaaab;
    font-size: 14px;
    padding-bottom: 25px;
}
.from-warp .time label,.from-warp .time input{
    display: inline-block;
    vertical-align: middle;
}
.sub-warp{
    height:30px;
    padding-bottom: 20px;
}

.sub-warp .submit-btn{
    float: right;
    height:100%;
    width: 70px;
    font-size: 14px;
    text-align: center;
    background: #069d5e;
    line-height: 30px;
    border-radius: 4px;
    color: #ffffff;
    margin-right: 20px;
}

.sub-warp .back-btn{
    float: right;
    height:100%;
    width: 70px;
    font-size: 14px;
    text-align: center;
    background: #069d5e;
    line-height: 30px;
    border-radius: 4px;
    color: #ffffff;
    margin-right: 6px;
}

.sub-btn{
    float: right;
    height:100%;
    width: 70px;
    font-size: 14px;
    text-align: center;
    background: #069d5e;
    line-height: 30px;
    border-radius: 4px;
    color: #ffffff;
    margin-right: 20px;
    border:none;
    display:block
}
 */